/* ==UserStyle==
@name           Lanis-Flat-Theme
@namespace      github.com/openstyles/stylus
@version        0.9.2
@description    A Flat Theme for Lanis
@author         Zekiz
==/UserStyle== */
:root {

    --primary-color: #264a7c;
    --secondary-color: #337ab7;
    --background-color: #202833;
    --link-color: #91c6f5;
    --warning-color: #d9534f;
    --hover-stpl: #2e3949;
}

@-moz-document domain("start.schulportal.hessen.de") {
body {
    color: #fff;
}

#aktuell .btn-primary {
    background-color: var(--secondary-color);
    border: none !important;
}

.navbar-custom, .header-top, .ccm-page #header .header-top.header-top-colored {
    background-color: var(--primary-color) !important;
}
.accordion-toggle {
    color:#fff!important;
    cursor:default;
    font-weight:700;
}
    
.box {
    background-color:var(--primary-color)!important;
    border:none!important;
}
    
.box,.panel {
    box-shadow:none!important;
}
    
.container {
    left:0;
    right:0;
}
    
.masthead,td a img,.preshow,.btn.btn-default.pull-right,.row.clearfix.hidden-print {
    display:none!important;
}
    
.panel {
    background-color:rgba(0,0,0,0)!important;
    border:none!important;
    border-radius:0!important;
    padding:12px!important;
}
    
.panel-heading {
    background-color:inherit!important;
}
    
.schoolbg,body,tr {
    background-color:var(--background-color)!important;
    background-image:none!important;
    opacity:100!important;
}
    
.textheight,.hidden-print,.container visible-lg visible-md {
    background-color:var(--background-color)!important;
    border:none!important;
}
/*kursmappe*/
.thumbnail, .col-md-4 {
 
    background-color:var(--background-color);
    border:none;
    border-radius:0;
    height: 250px !important;

}

#mappen h2 {
    padding-bottom: 30px !important;
}

.toolbarsticky {
    height:0!important;
    margin:0!important;
    padding:0!important;
    width:0!important;
}
    
a  {
    color: var(--link-color);
}

.btn.btn-primary.dropdown-toggle.btn-xs {
    background-color: var(--secondary-color);
}

.btn.btn-primary.dropdown-toggle.btn-xs:hover {
    background-color: var(--secondary-color);
}

td h3 a:hover {
    color: var(--secondary-color);
}

div.th-inner.sortable.both {
    background-color:var(--background-color);
}
    
h1,h2,h3 {
    color:#fff!important;
}
    
td,nav {
    border:none!important;
}
    
tr {
    color:#fff;
    padding: 20px !important;
    margin: 50px 50px !important;
}

.pull-left.pagination-detail {
    color: white;
}

ul.nav.nav-tabs li.active a {
    background-color: var(--background-color) !important;
    color: #fff !important;
}

ul.nav.nav-tabs li a {
    background-color: var(--background-color) !important;
    color: var(--link-color);
}

.markup.text.realHomework {
    border-radius: 0 !important;
}

.alert.alert-info {
    background-color: var(--background-color) !important;
}

.label {
    border: none !important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

.label-warning {
    background-color: var(--warning-color) !important;
    border: none !important;
}

button.btn.btn-warning.btn-sm.dropdown-toggle {
    background-color: var(--warning-color);
    border:none !important;
}

.btn-info {
    background-color: var(--secondary-color);
    border:none !important;
}

.btn-default {
    color: white !important;
    background-color: #777777 !important;
    border: none !important;
}

#content div div ul li .message.you-message a {
    background-color: unset !important;
    color: var(--link-color);
}

.message.you-message{
    background-color: var(--primary-color) !important;
    border: none !important;
    border-radius: 2px !important;
    color: #fff !important;
}

.message.you-message::after {
    border-color: var(--primary-color) transparent !important;
        border-top-color: var(--primary-color);
        border-right-color: transparent;
        border-bottom-color: var(--primary-color);
        border-left-color: transparent;
}

.dropdown-menu {
    background-color: var(--background-color);
    transition: 300ms;
}

.dropdown-menu a:hover {
    background-color: var(--primary-color) !important;
}
.dropdown-menu a{
    color: white !important;
}

.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
    background-color: var(--background-color) !important;
}

[data-id="Allgemein"] {
    display: none !important;
}

/*stundenplan*/
.stunde {
    background-color: var(--background-color) !important;
    color: #fff;
}
.hover-warning {
    background-color: var(--hover-stpl) !important;
}
.alert-warning {
    color: white;
    background-color: var(--warning-color);
    border: none !important;
}

/* Login */
.btn.btn-warning.btn-sm, .btn.btn-default.btn-sm.backbtn {
    box-shadow: none !important;
}

#alllogin {
    Background-color:#5cb85c !important;
}
}